.pick-title {
  text-align: center;
}

.pick-container {
  display: flex;
  justify-content: space-between;
  padding: 0 300px;
}

.pick-box {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.button {
  border-radius: 0;
}

.pick-car {
  width: 100%;
}

.pick-img {
  width: 50%;
  margin-top: 25px;
}

.car-detail-price {
  background-color: var(--btn);
  color: var(--btn-text);
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 3px 19px;
}

.car-detail-price span:first-child {
  font-weight: 700;
  font-size: 28px;
}

.cta-btn {
  background-color: var(--btn);
  text-align: center;
  width: 100%;
  padding: 10px;
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--btn-text);
  box-shadow: 8px 8px 1px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
  margin-top: 10px;
}

.cta-btn:hover {
  background-color: #e9381d;
}

.car-detail-col {
  border: 1px solid;
  padding: 9px 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: auto;
  text-align: center;
  font-size: 14px;
  border-top: 0;
}

.car-detail-col span:first-child {
  border-right: 1px solid;
}

.btn-box {
  display: flex;
}
