.header {
  margin: 0 290px;
  padding: 27px 20px;
  font-family: var(--font-rubik);
  position: sticky;
  z-index: 999;
}

.navbar-link,
.navbar-con,
.navbar-btns {
  display: flex;
}

.navbar-con {
  align-items: center;
  justify-content: space-between;
}

.navbar-link {
  gap: 1.6rem;
  cursor: pointer;
}

.navbar-link,
.signin-btn {
  font-weight: 500;
}

.navbar-btns {
  gap: 1.6rem;
  align-items: center;
}

.nav-hover {
  transition: color 0.3s ease-in-out;
}

.nav-hover:hover {
  color: var(--btn);
}

.regis-btn {
  width: 125px;
  height: 49px;
}
