.promo-con {
  padding: 5rem 3rem;
  background-image: url("../../../public/bg_promote.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -225px 255px;
}

.promo-con-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo-car-img {
  width: 60%;
}

.promo-con-description {
  width: 100%;
  gap: 10rem;
  display: flex;
  justify-content: center;
}

.promo-text-left h4 {
  font-size: 22px;
  font-family: var(--font-rubik);
}

.promo-text-left h2 {
  font-size: 42px;
  margin-bottom: 25px;
  line-height: 45px;
}

.promo-text-left {
  max-width: 30rem;
}

.promo-text-right {
  max-width: 30rem;
}

.promo-text-box {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 20px;
}

.promo-box-img {
  width: 100px;
  height: 100px;
}

.box-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-text h4 {
  font-size: 24px;
}

.box-text p {
  margin-bottom: 0;
}

.find-detail-btn {
  display: flex;
  width: fit-content;
}

@media (max-width: 1024px) {
  .promo-con {
    background-position: -230px 300px;
  }

  .promo-car-img {
    width: 100%;
  }

  .promo-text-left,
  .promo-text-right {
    width: 50%;
  }

  .promo-text-right {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .promo-con-description {
    gap: 1rem;
  }

  .promo-box-img {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 768px) {
  .promo-con-description {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .promo-text-left,
  .promo-text-right {
    width: 100%;
  }

  .promo-text-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
  }
}

@media (max-width: 430px) {
  .promo-con {
    padding: 5rem 1rem;
  }

  .promo-box-img {
    padding: 1rem 8rem;
    width: 100%;
    height: 100%;
  }

  .promo-text-box {
    flex-direction: column;
  }
}
