label {
  display: flex;
}

.book-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 10rem;
}

.bookcar-con {
  background-image: url("../../../public/bookcar-bg.png");
  background-color: #fff;
  width: 100%;
  padding: 40px 45px 50px 55px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.bookcar-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.submit-con {
  display: flex;
  align-items: flex-end;
}

.submit-btn {
  width: 100%;
  padding: 12px 13px;
}

.box-form {
  margin-top: 1.6rem;
}

@media (max-width: 1024px) {
  .book-section {
    padding: 2rem 2rem;
  }
}

@media (max-width: 768px) {
  .book-section {
    padding: 2rem 1rem;
  }

  .bookcar-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 430px) {
  .bookcar-content {
    grid-template-columns: 1fr;
  }
}
