.download-con {
  width: 100%;
  background-color: var(--bg-gray);
  background-image: url("../../../public/Download_Bg.png");
  background-position: bottom 450% right 0;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}

.download-con-box {
  width: 60%;
  padding: 2rem 2.5rem;
}

.download-con-content {
  width: 50%;
}

.download-con-content h2 {
  font-size: 42px;
  margin-bottom: 1.5rem;
}

.download-con-content-box {
  display: flex;
  padding-right: 5rem;
  gap: 1.6rem;
}

.download-btn {
  width: 35%;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .download-con {
    background-position: right -250px bottom 0;
    justify-content: flex-start;
  }

  .download-con-content {
    width: 100%;
  }

  .download-con-content-box {
    padding: 0;
    margin: 0 5rem 0 0;
  }

  .download-btn {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .download-con-content-box {
    padding: 0;
  }
  .download-btn {
    width: 60%;
  }
}

@media (max-width: 430px) {
  .download-con {
    background-image: none;
    justify-content: center;
    text-align: center;
  }

  .download-con-box,
  .download-con-content {
    width: 100%;
  }

  .download-con-content-box {
    flex-direction: column;
    padding: 0 3rem;
    margin: 0;
    align-items: center;
  }
  .download-btn {
    width: 100%;
  }
}
