.faq-con p {
  font-family: var(--font-poppins);
}

.faq-con {
  width: 100%;
  background-image: url("../../../public/Faq_Car_Bg.png");
  background-repeat: no-repeat;
  background-position: 0 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
}

.faq-con-title {
  text-align: center;
  width: 40%;
}

.faq-con-title h4 {
  font-family: var(--font-poppins);
  font-weight: 700;
}

.faq-con-title h2 {
  font-size: 42px;
  margin-bottom: 10px;
}

.faq-con-content {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.faq-box div p {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
}

.faq-box {
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.question {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 3rem;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
}

.question p {
  color: var(--btn-black);
  margin: 0;
  font-weight: 500;
  font-size: 18px;
}

.question,
.active-question {
  transition: all 0.3s ease;
}

.active-question {
  background-color: var(--btn);
}
.active-question p {
  color: var(--btn-text);
}

.active-question {
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
  z-index: 2;
}

.answer {
  height: 0;
  overflow: hidden;
}

.answer,
.active-answer {
  transition: all 0.2s ease;
}

.active-answer {
  padding: 2rem 3.5rem;
  color: var(--faq-ans-text);
  font-family: var(--font-rubik);
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  height: 100%;
}

@media (max-width: 1024px) {
  .faq-con {
    padding: 5rem 7rem;
  }

  .faq-con-title {
    width: 100%;
    padding: 0 0 2rem;
  }

  .faq-con-content {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .faq-con {
    padding: 5rem 1.5rem;
  }
}
