.homepage-con {
  position: relative;
}

.hero-con {
  display: flex;
  align-items: center;
  padding: 10rem 10rem;
}

.hero-content {
  z-index: 2;
}

.hero-content p {
  margin-bottom: 40px;
}

.bg-homepage {
  width: 680px;
  height: 780px;
  position: absolute;
  top: -110px;
  right: 0;
  z-index: 1;
}

.btn-con {
  display: flex;
  gap: 1.6rem;
}

.book-ride-btn,
.learn-more-btn {
  padding: 18px 30px;
  color: var(--btn-text);
  display: flex;
  align-items: center;
}

.learn-more-btn {
  background-color: var(--btn-black);
  border: 2px solid var(--btn-black);
  font-weight: 700;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
}

.learn-more-btn:hover {
  background-color: initial;
  color: var(--btn-black);
}

.hero-img {
  width: 100%;
  z-index: 2;
}

@media (max-width: 1440px) {
  .hero-con {
    padding: 10rem 2rem 10rem;
  }
}

@media (max-width: 1024px) {
  .hero-con {
    padding: 20rem 2rem 10rem;
    width: 100%;
    justify-content: space-between;
  }

  .hero-img {
    width: 60%;
  }

  .book-ride-btn,
  .learn-more-btn {
    padding: 1rem 2rem;
  }
}

@media (max-width: 768px) {
  .bg-homepage,
  .hero-img {
    display: none;
  }

  .hero-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-con {
    padding: 16rem 5rem;
  }
}

@media (max-width: 390px), (max-width: 430px) {
  .hero-con {
    padding: 15rem 2rem;
  }

  .btn-con {
    flex-direction: column;
    width: 80%;
  }

  .book-ride-btn,
  .learn-more-btn {
    justify-content: center;
    gap: 0.5rem;
  }
}
