.plan-img {
  width: 180px;
}

.plan-container-title {
  text-align: center;
}

.plan-container-title h3 {
  font-size: 1.5rem;
}

.plan-container-title h2 {
  font-size: 2.6rem;
}

.plan-container,
.plan-container-boxes,
.plan-container-boxes-box {
  display: flex;
  align-items: center;
}

.plan-container {
  justify-content: center;
  flex-direction: column;
  padding: 5rem 15rem;
}

.plan-container-boxes {
  justify-content: space-between;
  padding: 5rem 15rem;
  gap: 1.6rem;
}

.plan-container-boxes-box {
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

@media (max-width: 1440px) {
  .plan-container {
    padding: 10rem 3rem 0;
  }

  .plan-container-boxes {
    align-items: flex-start;
    padding: 5rem 0;
    gap: 0;
  }

  .plan-container-boxes-box {
    padding: 0 4rem;
  }
}

@media (max-width: 768px) {
  .plan-container {
    padding: 5rem 2rem;
  }

  .plan-container-boxes {
    flex-direction: column;
    padding: 2rem 0;
  }
}

@media (max-width: 420px) {
  .plan-container-boxes-box {
    padding: 0;
  }
}
